@page "/ContactsManagement"

@if (messages != null)
{


    <div class="col table table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                       ردیف
                    </th>
                    <th>
                        نام
                    </th>
                    
                    <th>
                        ایمیل
                    </th>

                    <th>
                        تلفن
                    </th>
                   
                    <th>
                        تاریخ ثبت نام
                    </th>
                    <th>
                       متن پیام
                    </th>
                    <th>
                        دستورات
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in messages)
                {
                    <tr>
                        <td>
                            @(item?.Id)
                        </td>
                        <td>
                            @(item?.Name)
                        </td>
                        <td>
                            @(item?.Email)
                        </td>
                        <td>
                            @(item?.Telephone)
                        </td>
                        
                        <td>
                            @(item?.RegisterDate)
                        </td>
                        <td>
                            @(item?.Text)
                        </td>
                       
                        

                        <td>

                            <div class="span2">
                                <a class="btn btn-xs btn-warning" href="@($"/Reply/{item.Id}")" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>پاسخ دادن به پیام</a>
                            </div>
                            


                        </td>
                    </tr>

                }
            </tbody>
        </table>




    </div>
}

@code {

}
