@page "/AddNewSlider"


<EditForm Model="@sliderViewModel" OnValidSubmit="@AddNew">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="span8">
        <div class="control-group span8">
            <label class="">@(Resources.DataDictionary.TitleOff)</label>
            <div class="controls">

                <InputTextArea @bind-Value="@sliderViewModel.Title" class="input-block-level" placeholder="@(Resources.DataDictionary.TitleOff)" />
            </div>
        </div>

        <div class="control-group span8">
            <label class="">@(Resources.DataDictionary.Link)</label>
            <div class="controls">
                <InputText @bind-Value="@sliderViewModel.Link" class="input-block-level" id="inputEmailRegister" placeholder="@(Resources.DataDictionary.Link)" />
            </div>
        </div>

        <div class="control-group span8">
            <label class="">@(Resources.DataDictionary.Description)</label>
            <div class="controls">
                <InputTextArea @bind-Value="@sliderViewModel.Description" class="input-block-level" placeholder="@(Resources.DataDictionary.Description)" />
            </div>
        </div>


    </div>




    <div class="control-group span4">
        <div class="card" style="width: 18rem;">

            <div class="card-header">
                @(Resources.DataDictionary.SliderImage)
            </div>
            <div class="card-body">
                @if (imagePath != null)
                {
                    <img style="margin:8px auto;width:150px;"
                         src="@imagePath" />
                }


                <div class="control-group span12">
                    <input type="file" @ref="inputRefrence" @onchange="async()=>await OpenFileAsync()" />
                    <div class="">
                        <ul>
                            <li>File Name:@fileName</li>
                        </ul>
                        <label class="custom-file-label" for="validatedCustomFile"></label>
                        <div class="">عکس اصلی را انتخاب کنید</div>
                        @if (!string.IsNullOrWhiteSpace(message))
                        {
                            <div class="alert alert-success">

                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>

    @*<div class="control-group span4">
            <div class="card" style="width: 18rem;">

                <div class="card-header">
                    @(Resources.DataDictionary.SmallSliderImage)
                </div>
                <div class="card-body">
                    @if (imagePath != null)
                    {
                        <img style="margin:8px auto;width:150px;"
                             src="@imagePath" />
                    }


                    <div class="control-group span12">
                        <input type="file" @ref="inputRefrence" @onchange="async()=>await OpenSecondFileAsync()" />
                        <div class="">
                            <ul>
                                <li>File Name:@fileName</li>
                            </ul>
                            <label class="custom-file-label" for="validatedCustomFile"></label>
                            <div class="">عکس کوچک را انتخاب کنید</div>
                            @if (!string.IsNullOrWhiteSpace(message))
                            {
                                <div class="alert alert-success">

                                </div>
                            }

                        </div>
                    </div>

                </div>
            </div>





        </div>*@
    <button type="submit" class="span2 btn btn-primary" value=" ثبت ">
        ثبت
    </button>
</EditForm>
