@page "/Register"
<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="#">@(Resources.DataDictionary.ParsMarkt)</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="#">@(Resources.DataDictionary.Register)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="push-up top-equal blocks-spacer-last">
        <div class="row">
            <div class="span12">
                <div class="title-area">
                    <h2 class="inline">@(Resources.DataDictionary.Register)</h2>
                </div>
            </div>
            <section class="span8 single single-page">

            @*<hr />*@
                <section class="contact-form-container">

                  

                    <EditForm Model="@registerViewModel" OnValidSubmit="@HandleValidSubmit">

                        <div class="control-group">
                            <label class="control-label shown-ie8" for="inputEmailRegister">@(Resources.DataDictionary.Email)<span>*</span></label>
                            <div class="controls">
                                <InputText @bind-Value="@registerViewModel.Email" type="email" class="input-block-level" id="inputEmailRegister" placeholder="@(Resources.DataDictionary.Email)" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label shown-ie8" for="inputEmailRegister">@(Resources.DataDictionary.FirstName)</label>
                            <div class="controls">
                                <InputText @bind-Value="@registerViewModel.FirstName" class="input-block-level" placeholder="@(Resources.DataDictionary.FirstName)" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label shown-ie8" for="inputEmailRegister">@(Resources.DataDictionary.LastName)</label>
                            <div class="controls">
                                <InputText @bind-Value="@registerViewModel.LastName" class="input-block-level" placeholder="@(Resources.DataDictionary.LastName)" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label shown-ie8" for="inputEmailRegister">@(Resources.DataDictionary.PhoneNumber)<span>*</span></label>
                            <div class="controls">
                                <InputText @bind-Value="@registerViewModel.PhoneNumber" class="input-block-level" placeholder="@(Resources.DataDictionary.PhoneNumber)" />
                            </div>
                        </div>




                        <div class="control-group">
                            <label class="control-label shown-ie8" for="inputPasswordRegister">@(Resources.DataDictionary.Password)<span>*</span></label>
                            <div class="controls">
                                <InputText @bind-Value="@registerViewModel.Password" type="password" class="input-block-level" id="inputPasswordRegister" placeholder="@(Resources.DataDictionary.Password)" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label shown-ie8" for="inputConfirmPasswordRegister">@(Resources.DataDictionary.ConfirmPassword)<span>*</span></label>
                            <div class="controls">
                                <InputText @bind-Value="@registerViewModel.ConfirmPassword" type="password" class="input-block-level" id="inputConfirmPasswordRegister" placeholder="@(Resources.DataDictionary.ConfirmPassword)" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label shown-ie8" for="inputEmailRegister">@(Resources.DataDictionary.Address)</label>
                            <div class="controls">
                                <InputText @bind-Value="@registerViewModel.Street_Number" class="input-block-level" placeholder="@(Resources.DataDictionary.Address)" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label shown-ie8" for="inputEmailRegister">@(Resources.DataDictionary.PostCode)</label>
                            <div class="controls">
                                <InputNumber @bind-Value="@registerViewModel.PostCode" class="input-block-level" placeholder="@(Resources.DataDictionary.PostCode)" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label shown-ie8" for="inputEmailRegister">@(Resources.DataDictionary.City)</label>
                            <div class="controls">
                                <InputText @bind-Value="@registerViewModel.City" class="input-block-level" placeholder="@(Resources.DataDictionary.City)" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label shown-ie8" for="inputEmailRegister">@(Resources.DataDictionary.CountryName)</label>
                            <div class="controls">
                                <InputText @bind-Value="@registerViewModel.Countries" class="input-block-level" placeholder="@(Resources.DataDictionary.CountryName)" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary bold higher">
                            @(Resources.Buttons.Register)
                        </button>
                    </EditForm>

                </section>

                <hr />

              


            </section> <!-- /main content -->
        </div>
    </div>
</div>