
<!--<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="loginModalLabel"><span class="light">@(Resources.InformationMessages.LoginInSite)</span></h3>
    </div>
    <div class="modal-body">
        <form method="post" action="#">
            <div class="control-group">
                <label class="control-label hidden shown-ie8" for="inputEmail">@(Resources.DataDictionary.Email)</label>
                <div class="controls">
                    <input @bind="loginViewModel.Email" @bind:event="oninput"  type="text" class="input-block-level" id="inputEmail" placeholder="Username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label hidden shown-ie8" for="inputPassword">@(Resources.DataDictionary.Password)</label>
                <div class="controls">
                    <input @bind="loginViewModel.Password" @bind:event="oninput" type="password" class="input-block-level" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input @bind="loginViewModel.RememberMe" @bind:event="oninput" type="checkbox">
                        @(Resources.DataDictionary.RememberMe)
                    </label>
                </div>
            </div>
            <button @bind="Login()" type="submit" class="btn btn-primary input-block-level bold higher">
                @(Resources.Buttons.Login)
            </button>
        </form>
        <p class="center-align push-down-0">
            <a href="#" data-dismiss="modal">@(Resources.LinkCaptions.ForgotPassword)</a>
        </p>
    </div>
</div>-->

<!--  = Register =  -->
<!--<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="registerModalLabel"><span class="light">@(Resources.InformationMessages.RegisterInSite) </span> </h3>
    </div>
    <div class="modal-body">
        <form method="post" action="#">

            <div class="control-group">
                <label class="control-label hidden shown-ie8" for="inputEmailRegister">@(Resources.DataDictionary.Email)</label>
                <div class="controls">
                    <input @bind="registerViewModel.Email" @bind:event="oninput" type="email" class="input-block-level" id="inputEmailRegister" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label hidden shown-ie8" for="inputPasswordRegister">@(Resources.DataDictionary.Password)</label>
                <div class="controls">
                    <input @bind="registerViewModel.Password" @bind:event="oninput" type="password" class="input-block-level" id="inputPasswordRegister" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label hidden shown-ie8" for="inputPasswordRegister">@(Resources.DataDictionary.ConfirmPassword)</label>
                <div class="controls">
                    <input @bind="registerViewModel.ConfirmPassword" @bind:event="oninput" type="password" class="input-block-level" id="inputPasswordRegister" placeholder="Password">
                </div>
            </div>
            <button type="button" class="btn btn-danger input-block-level bold higher" @onclick="()=>Register()">
                @(Resources.Buttons.Register)
            </button>
        </form>
        <p class="center-align push-down-0">
            <a data-toggle="modal" role="button" href="#loginModal" data-dismiss="modal">@(Resources.LinkCaptions.Registered)</a>
        </p>

    </div>
</div>-->



