@page "/AddNewMenu"
@inject IMenuServices MenuService
@inject NavigationManager Navigate
@using ViewModels
<h3>افزودن منو</h3>
<div class="row span4">
    <EditForm Model="@Menu" OnValidSubmit="@AddMenu">
        <div class="form-control span4">
            <lable class="control-label"> عنوان منو </lable>
            <div class="controls">
                <InputText type="text" class="form-control" @bind-Value="@Menu.Name"></InputText>
            </div>
        </div>
        <div class="form-control span4">
            <lable class="control-label"> آدرس صفحه </lable>
            <div class="controls">
                <InputText type="text" class="form-control" @bind-Value="@Menu.PageUrl"></InputText>
            </div>
        </div>

        @*<div class="form-control">
                <lable> زیر منو </lable>
                <InputText class="form-control" @bind-Value="@Menu.Parent.Name"></InputText>
            </div>*@
        <input type="submit" value="افزودن" class="btn btn-success" />
    </EditForm>
</div>
@code {
    public AddNewMenu()
    {
        Menu = new MenuViewModel();
    }
    public MenuViewModel Menu;
    protected override async Task OnInitializedAsync()
    {
        //Menu = new MenuViewModel();
    }
    async Task AddMenu()
    {
        await MenuService.PostAsync(Menu);
        Navigate.NavigateTo("/MenusManagement");
    }
}
